.header {
  padding: 0;
  background-image: url("images/4031.jpg");
  background-size: 100%;
}

.navbar {
  padding: 1rem 7rem 1rem;
  background-color: rgb(255, 255, 255, 0.5);
}

.nav-item {
  padding: 0 18px;
  font-weight: bold;
}
.nav-link {
  color: rgb(0, 0, 0);
}
.main-title {
  font-size: 6rem;
  font-weight: bold;
  line-height: 1.5;
  padding: 10%;
  color: rgb(56, 54, 51);
  font-family: "Lobster", cursive;
}
#title .container-fluid {
  padding: 1% 7%;
  text-align: left;
}

/* Title Image */

.overbox {
  position: relative;
}
.overbox img {
  position: absolute;
  left: 100px;
  top: 100px;
}

/* Menu section */
.menu-section {
  padding: 5% 5% 0% 5%;
  /* background-color: #dbcbbd;  */
  text-align: center;
}

.section-title {
  font-family: "Lobster", cursive;
  background-color: #dbcbbd;
  text-align: center;
}
.feature-title {
  font-family: "Lobster", cursive;
}

.featured-items {
  padding: 5% 0% 0% 5%;
}

.featured-image {
  padding-bottom: 5%;
}
.feature-description {
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 2;
}

/*
Foods menu
*/

.food-menu-card {
  padding: 30px 15px;
  background-color: #290001;
  border-radius: 8px;
}

.food-menu-card .media {
  margin-bottom: 20px;
}

.food-menu-card .media .img-fluid {
  border-radius: 3px;
  width: 80px;
}

.food-menu-card .media .d-flex {
  position: relative;
}

.food-menu-card .media .d-flex:before {
  content: "";
  position: absolute;
  left: auto;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #290001;
  top: 50%;
}

.food-menu-card .media h3 {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  padding-right: 1.07143rem;
  background-color: #290001;
  z-index: 2;
}

.food-menu-card .media strong {
  background-color: #290001;
  display: block;
  padding-left: 15px;
  z-index: 2;
  position: relative;
}

.tabs-menu-nav > li > a {
  color: #fff;
  display: block;
  font-size: 20px;
  border-bottom: 3px solid transparent;
  opacity: 0.5;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 25%;
}

.tabs-menu-nav > li > a.active {
  opacity: 1;
  border-bottom-color: #db2e2e;
}
.media-body,
p {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
}

.testimonial-section {
  background-image: url("images/review_bg.jpg");
  background-size: 98%;
}

.testimonial {
  padding: 7%;
  margin-top: 5%;
  text-align: center;
}
.testimonial-title {
  font-family: "Lobster", cursive;
  color: #f8bd7f;
}

.testimonial-text {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  color: #ffe600;
  font-weight: bold;
  line-height: 1.5;
}
.reviewer {
  color: #fff;
  font-weight: bold;
}
.carousel-inner {
  height: 12rem;
}

/* Location section  */

.location-section {
  padding: 5% 5% 0% 5%;
  /* background-color: #dbcbbd;  */
  text-align: center;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 30%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 90%;
  width: 100%;
  position: absolute;
}

/* footer */
.footer-section {
  background-color: #290001;
  padding: 3% 10% 1% 10%;
  text-align: left;
  color: #f8bd7f;
}
.footer-title {
  font-family: "Lobster", cursive;
}

.footer-section ul {
    list-style-type: none;
  }
.footer-box{
    padding: 0% 5%;
    font-family: "Roboto Condensed", sans-serif;
    align-content: center;
}
.icon {
    margin: 20px 10px;
  }
.copyright{
    text-align: center;
}



/* ------------------------------------------------------------- */

/* Loader */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */

  border: 3px solid #3498db;
  z-index: 1500;
  border: 3px solid transparent;
  border-top-color: #3498db;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid #e74c3c;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  border-radius: 50%;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px solid #f9c922;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}
/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%); /* IE 9 */
  transform: translateX(-100%); /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%); /* IE 9 */
  transform: translateX(100%); /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded #loader {
  opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);

  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}
.no-js #loader-wrapper {
  display: none;
}

/* Menu tab  */
